<div class="site-blocks-cover overlay" style="background-image: url(Content/images/hero_bg_2.jpg);" data-aos="fade" data-stellar-background-ratio="0.5" id="section-home">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-9" data-aos="fade-up" data-aos-delay="400">
                <h1 class="text-white font-weight-light text-uppercase font-weight-bold" data-aos="fade-up">We Make Shipping Easy</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Pakistan Leading Logistics Company</p>
                <p data-aos="fade-up" data-aos-delay="200"><a href="@Url.Action("ContactUs","Services")" class="btn btn-primary py-3 px-5 text-white">Get Started!</a></p>

            </div>
        </div>
    </div>
</div>
<!-- About Us Start-->
<div class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5">

            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Content/images/img_3.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">About Us</h2>
                </div>
                <p>Bari Malik Goods Transport Co. ®, is one of the most experienced transport operators with trailers, trucks and Mazda, is dedicated to successfully providing the best land transportation & affiliated services.</p>
                <p>We believes in providing ease and convenience to its valued clients, whether you have or anything over-sized to move from one location to another we have the experience and capabilities to transport your equipment safely cost effectively.</p>
                <p>We started as a transportation company dealing with heavy vehicles and machinery and expanded the business portfolio in last 20 years, we have become a leading logistics provider in Pakistan with an extensive national wide network of agents that handles the movement of large and small shipments.</p>
                <ul class="ul-check list-unstyled success">
                    <li>Heavy Vehicles</li>
                    <li>Machinery</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- About Us End-->

<!-- Industries Start -->
<div class="site-section block-13" id="section-industries">

    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="mb-0 text-primary">Industries</h2>
                <p class="color-black-opacity-5">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>

    <div class="owl-carousel nonloop-block-13">
        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/Content/images/img_1.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Storage</h3>
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/Content/images/img_2.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Air Transports</h3>
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/Content/images/img_3.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cargo Transports</h3>
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/Content/images/img_4.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Cargo Ship</h3>
                </div>
            </a>
        </div>

        <div>
            <a href="#" class="unit-1 text-center">
                <img src="~/Content/images/img_5.jpg" alt="Image" class="img-fluid">
                <div class="unit-1-text">
                    <h3 class="unit-1-heading">Ware Housing</h3>
                </div>
            </a>
        </div>


    </div>
</div>
<!-- Industries End -->

<!-- How We Work Start -->
<div class="site-section bg-image overlay" style="background-image: url('Content/images/hero_bg_4.jpg');" id="section-how-it-works">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Solutions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <div class="how-it-work-item">
                    <span class="number">1</span>
                    <div class="how-it-work-body">
                        <h2>Best Land Transportation and Affiliated Services.</h2>
                        <p class="mb-5">We proudly presents ourselves the one of the Pakistan's leading Goods transport services including:</p>
                        <ul class="ul-check list-unstyled success">
                            <li class="text-white">Trucks and Mazda</li>
                            <li class="text-white">Goods Moving Through Containers</li>
                            <li class="text-white">Luggage Moving</li>
                            <li class="text-white">Freight Forwarding</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <div class="how-it-work-item">
                    <span class="number">2</span>
                    <div class="how-it-work-body">
                        <h2>Nationwide Transport Solutions</h2>
                        <p class="mb-5">Bari Malik Goods Transport Co ® currently have Office in Karachi and are within minutes of Karachi Ports. We offers an array of services and equipment to: </p>
                        <ul class="ul-check list-unstyled success">
                            <li class="text-white">Get your shipments delivered where and when you need them</li>
                            <li class="text-white">Highest priority is to insure accurate and timely distribution</li>
                            <li class="text-white">Locally and Nationwide</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                <div class="how-it-work-item">
                    <span class="number">3</span>
                    <div class="how-it-work-body">
                        <h2>Economics Role of Transportation</h2>
                        <p class="mb-5">Economics involves production, distribution and consumption of goods and services in moving from point of origin to internal customers or beneficiaries. The aim of transport is to:</p>
                       
                        <ul class="ul-check list-unstyled success">
                            <li class="text-white">Physically moves supplies in a reliable and save manner</li>
                            <li class="text-white">Cost Effectively and Efficiently to its destination</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- How We Work End -->

<!-- Our Team Start -->
<div class="site-section border-bottom" id="section-our-team">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary" data-aos="fade">Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                <div class="person">
                    <img src="~/Content/images/person_1.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Christine Rooster</h3>
                    <p class="position text-muted">Co-Founder, President</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                    <ul class="ul-social-circle">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                <div class="person">
                    <img src="~/Content/images/person_2.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Brandon Sharp</h3>
                    <p class="position text-muted">Co-Founder, COO</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                    <ul class="ul-social-circle">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
                <div class="person">
                    <img src="~/Content/images/person_4.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                    <h3>Connor Hodson</h3>
                    <p class="position text-muted">Marketing</p>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                    <ul class="ul-social-circle">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Team End -->

<!-- Video Start -->
<div class="site-blocks-cover overlay inner-page-cover" style="background-image: url(Content/images/hero_bg_2.jpg); background-attachment: fixed;">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">

            <div class="col-md-7" data-aos="fade-up">
                <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-single-big mb-4 d-inline-block popup-vimeo"><span class="icon-play"></span></a>
                <h2 class="text-white font-weight-light mb-5 h1">Watch The Video</h2>

            </div>
        </div>
    </div>
</div>
<!-- Video End -->

<!-- Testimonials Start -->
<div class="site-section border-bottom">
    <div class="container">

        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Testimonials</h2>
            </div>
        </div>

        <div class="slide-one-item home-slider owl-carousel">
            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img src="~/Content/images/person_1.jpg" alt="Image" class="img-fluid mb-3">

                    </figure>
                    <blockquote>
                        <p>&ldquo;All of us at FMGS want to wish Bari Malik Goods Transport Co. ® the very best of success in the future. You certainly deserve it, as your organization has certainly earned our absolute trust and confidence as well as that of dozens of our largest clients&rdquo;</p>
                        <p class="author">
                            Muhammad Haris Yazdani
                        </p>
                        <span class="position">Business Development Officer at FMGS</span>
                    </blockquote>
                </div>
            </div>
            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img src="~/Content/images/person_2.jpg" alt="Image" class="img-fluid mb-3">

                    </figure>
                    <blockquote>
                        <p>&ldquo;I would really like to extend my sincerest appreciation to you and your crew at Bari Malik Goods Transport Co. ®. Working with BMGT is always a pleasure; you truly do make my life so much easier. Your ability to stay on top of the tasks is truly impressive and you always get the job done right. I cannot say it enough, thank you!&rdquo;</p>
                        <p class="author">
                           Faisal Awan
                        </p>
                        <span class="position">Sales Representative at Tapal</span>
                    </blockquote>
                </div>
            </div>

            <div>
                <div class="testimonial">
                    <figure class="mb-4">
                        <img src="~/Content/images/person_4.jpg" alt="Image" class="img-fluid mb-3">
                    </figure>
                    <blockquote>
                        <p>&ldquo;I have had the opportunity to work with Bari Malik Goods Transport Co. ® throughout my career. The experience has always been terrific. The staff at Bari’s has the ability to seamlessly become a part of your team. They are thorough, conscientious and dedicated to serving the customer. Each of there clients are treated as though they were the only customer.&rdquo;</p>
                        <p class="author">
                            Ahmed Bilal Pasha
                        </p>
                        <span class="position">Marketing Manager at E-bound</span>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonials End -->

<!-- Our Blog Start -->
<div class="site-section" id="section-blog">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
                <h2 class="font-weight-light text-primary">Our Blog</h2>
                <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p>
            </div>
        </div>
        <div class="row mb-5 align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                <div class="h-entry">
                    <a href="single.html"><img src="~/Content/images/blog_1.jpg" alt="Image" class="img-fluid"></a>
                    <h2 class="font-size-regular"><a href="single.html">How Logistics Company Improve Spendings</a></h2>
                    <div class="meta mb-4">by Jed Wilson <span class="mx-2">&bullet;</span> Jan 18, 2019 <span class="mx-2">&bullet;</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="h-entry">
                    <a href="single.html"><img src="~/Content/images/blog_2.jpg" alt="Image" class="img-fluid"></a>
                    <h2 class="font-size-regular"><a href="single.html">How Logistics Company Improve Spendings</a></h2>
                    <div class="meta mb-4">by Jed Wilson <span class="mx-2">&bullet;</span> Jan 18, 2019 <span class="mx-2">&bullet;</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="h-entry">
                    <a href="single.html"><img src="~/Content/images/blog_3.jpg" alt="Image" class="img-fluid"></a>
                    <h2 class="font-size-regular"><a href="single.html">How Logistics Company Improve Spendings</a></h2>
                    <div class="meta mb-4">by Jed Wilson <span class="mx-2">&bullet;</span> Jan 18, 2019 <span class="mx-2">&bullet;</span> <a href="#">News</a></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="300">
                <p class="mb-0"><a href="#" class="btn btn-primary py-3 px-5 text-white">View All Blog Posts</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Our Blog End -->