<!-- Automobile Transportation Start-->

<div class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Content/images/at.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Automobile Transportation</h2>
                </div>
                <p>Bari Malik Goods Transport Co. ®, BMGT can help manage the movement of all types of fleets including cars, trucks, vans, buses, heavy equipment and tractors.</p>
                <p>Our mission is to make vehicle transporting a positive experience for each customer. When you trust us to ship your car, you receive peace-of-mind, expert advice and superior service.</p>
                <p>Our Automobile transportation service ships a large variety of car and vehicle types including:</p>
                <ul class="ul-check list-unstyled success">
                    <li>Cars</li>
                    <li>Motorcycle</li>
                    <li>Custom Cars</li>
                    <li>Vans</li>
                    <li>Hi-Roof</li>
                    <li>Antique Cars</li>
                    <li>Fork Lifters</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Automobile Transportation End-->