<!-- Household Goods Start-->

<div class="site-section" id="section-about">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Content/images/at.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
                <div class="text-left pb-1 border-primary mb-4">
                    <h2 class="text-primary">Household Goods Transportation</h2>
                </div>
                <p>With personalized services and over 20 years of experience in the transportation industry, we can handle your personal items and household</p>
                <ul class="ul-check list-unstyled success">
                    <li>Appliances</li>
                    <li>Living room</li>
                    <li>Furniture</li>
                    <li>Outfitting the rest of the house</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Household Goods End-->